@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;400&family=Kumbh+Sans:wght@700&family=Lexend+Deca&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;400&family=Kumbh+Sans:wght@700&family=Lexend+Deca&family=Roboto:wght@900&display=swap');

.bgWrapper {
    min-height: 300px;
    background-image: url('../../assets/images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#35323E;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bgHeading h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: white;
}

.bgBtn button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    padding: 20px 60px;
    border-radius: 30px;
    background-color: #2ACFCF;
    color: white;
}

