@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;400&family=Kumbh+Sans:wght@700&family=Lexend+Deca&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;400&family=Kumbh+Sans:wght@700&family=Lexend+Deca&family=Roboto:wght@900&display=swap');

.hero-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img {
    margin-left: 200px;
    width: 650px;
    height: 500px;
    background-image: url('../../assets/images/illustration-working.svg');
    background-repeat: no-repeat;
}

.content h1 {
    font-family: 'Roboto', sans-serif;
    width: 600px;
    font-size: 5.7rem;
}

.content p {
    /* border: 1px solid red; */
    font-family: 'Roboto', sans-serif;
    width: 650px;
    font-size: 1.9rem;
    margin-top: -30px;
    color: gray;
    font-weight: 300;
}

.hero-btn button {
    border: 1px solid red;
    padding: 15px 45px;
    border-radius: 20px;
    background-color: #2ACFCF;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.hero-btn button:hover {
    background-color: #40E0D0;
}

