@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;400&family=Kumbh+Sans:wght@700&family=Lexend+Deca&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;400&family=Kumbh+Sans:wght@700&family=Lexend+Deca&family=Roboto:wght@900&display=swap');


.wrapper {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 200px;
}

.links {
    margin-left: -690px;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

a:hover {
    color: black;
}

.btns {
    margin-right: 200px;
    display: flex;
    gap: 35px;
}

.btns button:first-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 20px;
    background: none;
    border: none;
    color: gray;
}

.btns button:first-child:hover {
    color: black;
}

.btns button:last-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #2ACFCF;
    border: none;
    color: white;
}

.btns button:last-child:hover {
    background-color: #40E0D0;
}

